<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BloodBud.Properties.Settings.BloodBudConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\BloodBud.accdb"
            providerName="System.Data.OleDb" />
        <add name="BloodBud.Properties.Settings.BoodBludDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\BoodBludDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="BloodBud.Properties.Settings.BloodBludDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\BloodBludDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="BloodBud.Properties.Settings.BloodBudDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\BloodBudDB.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>